   body{
         padding-top:4.2rem;
         padding-bottom:4.2rem;
         background:rgba(0, 0, 0, 0.76);
         }
         a{
            text-decoration:none !important;
            }
         .info-txt,.info-re-passwd{
            color:red;
            display: none;
         }
            .myform{
         position: relative;
         display: -ms-flexbox;
         display: flex;
         padding: 1rem;
         -ms-flex-direction: column;
         flex-direction: column;
         width: 100%;
         pointer-events: auto;
         background-color: #fff;
         background-clip: padding-box;
         border: 1px solid rgba(0,0,0,.2);
         border-radius: 1.1rem;
         outline: 0;
         max-width: 500px;
         }
         .trueSend{
            display: none;
         }
            .tx-tfm{
            text-transform:uppercase;
            }
            .mybtn{
            border-radius:50px;
            }
   .messageContainer {
      position:absolute;
      top:70px;
      left:30px;
      z-index: 3;
   -webkit-animation: spinAndZoom 5s 1;
   -webkit-animation-fill-mode: forwards;
   }

   @-webkit-keyframes spinAndZoom {
   0% {
         opacity:1;
   }
   90% {
   top:140px;
      opacity:1;
   }
   100% {
   top:70px;
      opacity:0;
   }
   }
            .login-or {
            position: relative;
            color: #aaa;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            }
            .span-or {
            display: block;
            position: absolute;
            left: 50%;
            top: -2px;
            margin-left: -25px;
            background-color: #fff;
            width: 50px;
            text-align: center;
            }
            .hr-or {
            height: 1px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            }

            form .error {
            color: #ff0000;
            }
            #second{display:none;}
