body{
     padding-top:0;
     padding-bottom:4.2rem;
     background:rgba(0, 0, 0, 0.76);
 }
 header{
    width: 100vw;
 }
 h2{
    width: 20vw;
 }
 main{
     background-color: #526475;
     position: block;
 }

 .modal{
     position:fixed;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     top: 5vh;
     width: 320px;
     height: 360px;
     overflow: visible;
     background-color: white;
     opacity: 1;
     display:none;
     flex-flow: column;
 }

 .modal header{
     display: flex;
     justify-content: flex-end;
     width: 100%;
 }
 .modal main{
     width:33%;
     margin: 0 50px;
     background-color: white;
 }

 .modal form{
    margin: 5px;
 }

 .info-txt{
     visibility: hidden;
     color:red;
     width: 220px;
 }
 .modal-background{
     position:absolute;
     top: 0;
     left:0;
     width: 100%;
     height: 100vh;
     background-color: black;
     opacity: 0.5;
     display:none;
 }
 .messageContainer {
    position:absolute;
    top:70px;
    left:30px;
    z-index: 3;
    -webkit-animation: spinAndZoom 5s 1;
    -webkit-animation-fill-mode: forwards;
 }

 @-webkit-keyframes spinAndZoom {
     0% {
          opacity:1;
     }
    90% {
        top:140px;
        opacity:1;
    }
     100% {
        top:70px;
        opacity:0;
     }
 }