.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

.relativeParent{
    position: relative;
}
#searchForm{
    position: absolute;
    z-index: 2;
    left: 73%;
}
#filterInformation{
    position: absolute;
    z-index: 2;
    left: 43%;
}
#tableid_wrapper{
    z-index: 1;
}
.messageContainer {
      position:absolute;
      top:70px;
      left:30px;
      z-index: 3;
   -webkit-animation: spinAndZoom 5s 1;
   -webkit-animation-fill-mode: forwards;
   }

   @-webkit-keyframes spinAndZoom {
   0% {
         opacity:1;
   }
   90% {
   top:140px;
      opacity:1;
   }
   100% {
   top:70px;
      opacity:0;
   }
   }