<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-css">
    <link href="/css/moviePage.css" rel="stylesheet" type="text/css">
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <header class="py-3 pt-3 bg-dark text-white row">
        <div class="d-flex justify-content-between col-6">

            <div class="d-flex text-decoration-none ">
                <a class="btn bg-light text-dark" href="/movies">Movies</a>
                <a class="btn bg-light text-dark" href="/actors">Actors</a>
                <a class="btn bg-light text-dark" href="/keywords">keywords</a>
            </div>
            <div class="d-flex text-decoration-none ">
                <a class="btn bg-light text-dark" href="/createactor">Create actor</a>
                <a class="btn bg-light text-dark" href="/createmovie">create movie</a>
            </div>
            <div class="d-flex justify-content-center">
                <h1 th:text="${movie.title}"></h1>
            </div>

        </div>

    </header>
    <main class="m-3">
        <form method="post">
            <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" th:value="${movie.title}">
            </div>
            <div class="form-group">
            <label for="budget">Budget:</label>
            <input type="text" name="budget" id="budget" th:value="${movie.budget}">
            </div>
            <div class="form-group">
            <label for="homepage">Web page:</label>
            <input type="text" name="homepage" id="homepage" th:value="${movie.homepage}">
            </div>
            <div class="form-group">
            <label for="overview">Overview:</label>
            <input type="text" name="overview" id="overview" th:value="${movie.overview}">
            </div>
            <div class="form-group">
            <label for="popularity">Popularity:</label>
            <input type="number" name="popularity" id="popularity" th:value="${movie.popularity}">
            </div>
            <div class="form-group">
            <label for="releaseDate">Release date:</label>
            <input type="date" name="releaseDateString" id="releaseDate" th:value="${movie.releaseDate}">
            </div>
            <div class="form-group">
            <label for="revenue">Revenue:</label>
            <input type="number" name="revenue" id="revenue" th:value="${movie.revenue}">
            </div>
            <div class="form-group">
            <label for="runtime">Runtime:</label>
            <input type="number" name="runtime" id="runtime" th:value="${movie.runtime}">
            </div>
            <div class="form-group">
            <label for="movieStatus">Status:</label>
            <select name="movieStatus" id="movieStatus">
                <option value="released">Released</option>
                <option value="upcoming">Upcoming</option>
            </select>
            </div>
            <div class="form-group">
            <label for="tagline">Tagline:</label>
            <input type="text" name="tagline" id="tagline" th:value="${movie.tagline}">
            </div>
            <div class="form-group">
            <label for="voteAverage">Vote's average:</label>
            <input type="number" name="voteAverage" id="voteAverage" th:value="${movie.voteAverage}">
            </div>
            <div class="form-group">
            <label for="voteCount">number of votes:</label>
            <input type="number" name="voteCount" id="voteCount" th:value="${movie.voteCount}">
            </div>
            <button type="submit">Submit changes</button>
        </form>
        <h2>Keywords</h2>
        <button id="remove">Remove selected</button>
        <div class="d-flex flex-wrap w-25 keywordCont">
            <div id="keyword" class="notSelected btn mx-1 my-1" th:each="k : ${movie.keywords}" th:text="${k.keywordName}">

            </div>
        </div>
        <h2>Add keyword</h2>
        <form method="post" action="/addkeyword">
            <label for="keywordName">Name:</label>
            <input type="hidden" id="idParam" name="movieId" th:value="${movie.movieId}">
            <input type="text" id="keywordName" name="keywordName">
            <button type="submit">add</button>
        </form>
        <p>If the keyword don't exists add it to the movie to create it</p>
    </main>

    <script src="/js/moviePage.js">
    </script>

</body>
</html>